* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

#markdown{
    display: flex;
    align-items: start;
}

#markdown hr{
    margin: 10px 0;
}

#input, #output{
    width: 40%;
    margin: 3%;
    padding: 2%;
    background-color: yellow;
    word-wrap: break-word;
}
